{% extends "layout.html" %} {% block body %}

<div class="shagi_bg">
  <div class="shagi_count vhod">


    <div class=" shag">
      <div class=" shag_zag">Выбор плейлиста</div>

      <div class=" shag_number">1</div>

      <div class=" shag_text">Составьте плейлист или выберите понравившиеся готовые плейлисты.
        <br /> В разделе “мои плейлисты” отображаются плейлисты, которые можно добавить в расписание.</div>

    </div>
    <img src="images/vhod/left.png" class=" strela_left">
    <div class=" shag">
      <div class=" shag_zag">Настройка расписания</div>

      <div class=" shag_number">2</div>

      <div class=" shag_text">В меню “Расписание” установите порядок проигрывания Ваших плейлистов. </div>

    </div>
    <img src="images/vhod/left.png" class=" strela_left">
    <div class=" shag">
      <div class=" shag_zag">START</div>

      <div class=" shag_number">3</div>

      <div class=" shag_text">Нажмите кнопку
        <span class="shag_start_text">START.</span>
        <br /> Для осуществления трансляции с устроиств под управлением Android и iOS,скачайте приложение. </div>

    </div>


  </div>
</div>

<div class=" shagi_bott">

  <button class="button button--naira button--round-s button--border-thin"><i class="button__icon icon icon-download"></i>
    <span>Собрать первый плейлист</span>
  </button>
  <button class="button button--naira button--round-s button--border-thin button111"><i class="button__icon icon icon-download1"></i>
    <span>Готовые плейлисты</span>
  </button>


  <!--

<a href="" class=" add_first_playlist">Собрать первый плейлис</a>

<a href="" class=" shagi_playlist">Готовые плейлисты</a>

-->

  <div class="clr"></div>
</div>

{% endblock %}
